.footer__contenedor-padre{
    background-color: $bgcolor-header-nav-footer;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 7rem 4.5rem;
    grid-template-areas: 
                        "footer__div-footer1 footer__div-instagram footer__div-facebook footer__div-whatsapp footer__div-footer2"
                        "footer__div-correo footer__div-correo footer__div-telefono footer__div-copyright footer__div-copyright";
        
    .footer__div-footer1{
        grid-area: footer__div-footer1;
    }
    .footer__instagram{
        @include div-redes(footer__div-instagram,2.7rem,2.7rem);
        border-radius: 50%;
        .footer__icon-instagram--size{
            @include div-redes-icon(1rem,0.77rem,0.8rem);
        }
    }    
    .footer__facebook{
        @include div-redes(footer__div-facebook,2.7rem,2.7rem);
        border-radius: 50%;
        .footer__icon-facebook--size{
            @include div-redes-icon(1rem,0.77rem,0.8rem);
        }
    }
    .footer__whatsapp{
        @include div-redes(footer__div-whatsapp,2.7rem,2.7rem);
        border-radius: 50%;
        .footer__icon-whatsapp--size{
            @include div-redes-icon(1.15rem,0.7rem,0.7rem);
        }
    }
    .redes-animacion{
        border: $color1-bordes $bordes;
        @include anim-infinito(border-anim);
        @include border-animacion($bordes);
    }
    .footer__correo{
        grid-area: footer__div-correo;
        justify-self: end;
        .footer__correo--texto{
            @include texto-footer(0.5rem,0.85rem,center);
            right: 0.3rem;
        }
    }
    .footer__telefono{
        grid-area: footer__div-telefono;
        .footer__telefono--texto{
            @include texto-footer(0.5rem,0.85rem,center);
        }
    }
    .telefono-bordes{
        border-left: $color1-bordes 1px solid;
        border-right: $color1-bordes 1px solid;
        width: 100%;
        height: 50%;
    }
    .telefono-animacion{
        border-left: $color1-bordes $bordes;
        border-right: $color1-bordes $bordes;
        @include anim-infinito(bordes-animaciones);
        @include left-right-animacion($bordes,$bordes);
    }
    .footer__copyright{
        grid-area: footer__div-copyright;
        .footer__copyright--texto{
            @include texto-footer(0.5rem,0.85rem,start);
            margin-left: 0.3rem;
        }
    }
    .footer__div-footer2{
        grid-area: footer__div-footer2;
    }
}
@media only screen and (max-width:415px){
    .footer__contenedor-padre{
        .footer__correo{
            .footer__correo--texto{
                @include texto-footer(0.5rem,0.75rem,center);
                right: 0.2rem;
            }
        }
        .footer__telefono{
            .footer__telefono--texto{
                @include texto-footer(0.5rem,0.75rem,center);
            }
        }
        .footer__copyright{
            grid-area: footer__div-copyright;
            .footer__copyright--texto{
                @include texto-footer(0.5rem,0.75rem,start);
                margin-left: 0.2rem;
            }
        }
    }
}
@media only screen and (max-width:360px){
    .footer__contenedor-padre{
        .footer__correo{
            .footer__correo--texto{
                @include texto-footer(0.5rem,0.7rem,center);
                right: 0.1rem;
            }
        }
        .footer__telefono{
            .footer__telefono--texto{
                @include texto-footer(0.5rem,0.7rem,center);
            }
        }
        .footer__copyright{
            grid-area: footer__div-copyright;
            .footer__copyright--texto{
                @include texto-footer(0.5rem,0.7rem,start);
                margin-left: 0.1rem;
            }
        }
    }
}
