.section-ayuda{
    left: 1%;
    position: relative;
    height: 45rem;
    .titulo-ayuda{
        font-family: $font;
        text-align: center;
        color: $color-texto-gris;
        text-align: center;
        position: relative;
        top: 8rem;
        font-size: 1.6rem;
        font-weight: 300;
    }
    .subtitulo-ayuda{
        font-family: $font;
        text-align: center;
        color: $color-texto-gris;
        text-align: center;
        position: relative;
        top: 10rem;
        font-size: 1rem;
        font-weight: 300;
    }
    .div-pasos-ayuda{
        position: relative;
        top: 10rem;
        width: 100%;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;      
        grid-template-rows: 64% 36%;
        grid-template-areas: 
                            "img-paso1 img-paso2 img-paso3"
                            "div-texto-paso1 div-texto-paso2 div-texto-paso3";
                            
        height: 28rem;
        .img-paso1{
            width: 10rem;
            grid-area: img-paso1;
            opacity: 0.5;
            justify-self: center;
            top: 0;
            align-self: center;
            position: relative;
        }
        .img-paso2{
            width: 10.5rem;
            grid-area: img-paso2;
            opacity: 0.5;
            justify-self: center;
            top: 0;
            align-self: center;
            position: relative;
        }
        .img-paso3{
            width: 11rem;
            grid-area: img-paso3;
            opacity: 0.5;
            justify-self: center;
            top: 1rem;
            align-self: center;
            position: relative;
        }
        .div-texto-paso1{
            grid-area: div-texto-paso1;
            width: 100%;
            .p-paso1{
                @include div-texto-pasos(75%);
            }
            
        }
        .div-texto-paso2{
            grid-area: div-texto-paso2;
            border-left: $bordes $color2-bordes;
            border-right: $bordes $color2-bordes;
            width: 100%;
            .p-paso2{
                @include div-texto-pasos(80%);
            }
            
        }
        .div-texto-paso3{
            grid-area: div-texto-paso3;
            width: 100%;
            .p-paso3{
                @include div-texto-pasos(80%);
            }
            
        }
    }
}
.section-preguntas-frecuentes{
    position: relative;
    height: 36rem;
    .titulo-preguntas-frecuentes{
        font-family: $font;
        text-align: center;
        color: $color-texto-gris;
        text-align: center;
        position: relative;
        top: 3rem;
        font-size: 1.6rem;
        font-weight: 300;
    }
    .div-preguntas1{
        @include div-preguntas(9rem,90%,5%,9%);
        &:hover{
            @include div-preguntas-hover(90%,5%,26%);
        }
        .p-preguntas{
            @include p-preguntas(1.1rem);
        }
        .p-respuestas{
            @include p-respuestas(1rem,1.5rem);
        }
    }
    .div-preguntas2{
        @include div-preguntas(12rem,90%,5%,9%);
        &:hover{
            @include div-preguntas-hover(90%,5%,26%);
        }
        .p-preguntas{
            @include p-preguntas(1.1rem);
        }
        .p-respuestas{
            @include p-respuestas(1rem,1.5rem);
        }
    }
    .div-preguntas3{
        @include div-preguntas(15rem,90%,5%,9%);
        &:hover{
            @include div-preguntas-hover(90%,5%,26%);
        }
        .p-preguntas{
            @include p-preguntas(1.1rem);
        }
        .p-respuestas{
            @include p-respuestas(1rem,1.5rem);
        }
    }
}